body{
    background-color: burlywood;
}

.footer{
    height: 50px;
    background-color: peru;
    width: 100%;
    margin-top: 30px;
    color: black;
    text-align: center;



}

.jumbotron{
    background-color: saddlebrown;
    color: white;
    border-style: dashed;
    border-color: tan;
    border-width: 2px;



}
